*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
::selection {
    background-color:#a7a19e ;
    color: black;
}
body{
    font-family:"Papyrus" , serif;
    background-color:#f5f5f4;


}

nav
{
    display:flex;
    background-color:#d8d6d2;
    color:#f5f5f4;
    justify-content:space-around;
    align-items:center;
    min-height:8vh;


}
.loggo3 .HomePage1{
    text-shadow:  4px 4px  1px white;
    position:relative;
    left:80px;
    color:#a7a19e;
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:20px;

}

.nav-links3{
    display:flex;
    overflow:hidden;
    color:black;
    justify-content:space-around;
    align-items:center;
    width:30%;
    text-decoration:none;
    font-weight:bold;
    list-style-type: none;

}

li {
    float: right;
}
li a {
    font-size:130%;
    display: block;
    color: #a7a19e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color:#746d77;
}
.grid-container{
    display:inline-grid;
    grid-template-columns: auto auto auto;
    padding:20px;
}
.name1{
    position:absolute;
    left:40px;
}
img{
    width:150px;
    height:auto;
}


