*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
::selection {
    background-color:#a7a19e ;
    color: black;
}
body{
    font-family:"Papyrus" , serif;
    background-color: whitesmoke;
    ;
}

nav
{
    display:flex;
    background-color:#d8d6d2;
    color:#f5f5f4;
    justify-content:space-around;
    align-items:center;
    min-height:8vh;


}
.loggo3 .HomePage1{
    text-shadow:  4px 4px  1px white;
    position:relative;
    left:80px;
    color:#a7a19e;
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:20px;

}

.nav-links3{
    display:flex;
    overflow:hidden;
    color:black;
    justify-content:space-around;
    align-items:center;
    width:30%;
    text-decoration:none;
    font-weight:bold;
    list-style-type: none;

}

li {
    float: right;
}
li a {
    font-size:130%;
    display: block;
    color: #a7a19e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color:#746d77;
}

.collage{
    display:grid;
    row-gap: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: auto auto auto;
    margin: 10px 50px;
}
.collage img{
    padding:5px;
    transition: 1s;
}
.collage img:hover{
    transform:scale(1.1);
}


#S1{
    position:relative;
    left:40px;
    top:20px;
    width:300px;
    height:auto;
}
#S2{
    position:relative;
    left:40px;
    top:20px;
    width:500px;
    height:auto;
}
#S3{
    position:relative;
    left:70px;
    top:20px;
    width:300px;
    height:auto;
}
#S4{
    position:relative;
    left:40px;
    top:60px;
    width:300px;
    height:auto;
}
#S5{
    position:relative;
    left:55px;
    top:60px;
    width:400px;
    height:auto;
}
#S6{
    position:relative;
    left:45px;
    top:60px;
    width:400px;
    height:auto;
}
#S7{
    position:relative;
    left:40px;
    top:80px;
    bottom:30px;
    width:350px;
    height:auto;
}
#S8{
    position:relative;
    left:95px;
    top:80px;
    bottom:10px;
    width:300px;
    height:auto;
}
#S9{
    position:relative;
    left:80px;
    top:80px;
    width:300px;
    height:auto;
}



